page-home {
    .showname {
        font-size: 20px;
    }
    #intro {
        font-size: 18px;
        border-bottom: 1px solid gray;
        color: #FFFFFF;
        text-shadow: 2px 2px 5px #000000;
    }
}
